* {
	font-family: Calibri;
	font-weight: 100;
	box-sizing: border-box;
	list-style: none;
}

.header {
	display: flex;
	width: auto;
	background: #e28711;
	height: 80px;
	align-items: center;
	border-radius: 0 0 0 0;
}

.content{
	display: flex;
	flex-flow: wrap;
	text-align: center;
}

body {
	background: coral;
}


.logo{
	width: 4em;
	margin-left: 120px;
}

.texto{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	margin-left: 25%;
}

.aside {
	flex: 1;
	background: #ceb212;
	height: 80vh;
	border-radius: 0;
	margin: 10px;
}


.bttn {
	display: flex;
	margin: auto;
	margin-top: 14vh;
	flex-direction: column;
	background-color: burlywood;
	padding: 20px 60px;
	font-size: 18px;
	border-radius: 8px;
	cursor: pointer;
}

.bttn:hover {
	color: white;
	background-color: brown ;
	font-size: 18px;
}

.main {
	flex: 4;
	background: whitesmoke;
	height: 80vh;
	border-radius: 10px;
	margin: 10px;
	align-items: center;
	text-align: center;
}

.main p{
	margin-left: 20%;
	margin-top: 15%;
	width: 60%;
	color: black;
	font-size: 18px;
	text-align: justify;
	

}

#frases {
	width: 50%;
	color: black;
	margin-left: 25%;
	margin-top: 6%;	
}

#frases p {
	width: 100%;
	font-size: 20px;
	margin-left: 0px;
	margin-top: 6%;
	font-family: courier !important;
}

#rd1 {
	font-weight: bold;
	text-shadow: 3px 2px 2px lightblue;
}

#rd2 {
	font-weight: bold;
	text-shadow: 3px 2px 2px yellow;
}

#rd3 {
	font-weight: bold;
	text-shadow: 3px 2px 2px pink;
}



#caso {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
	margin-top: 15%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	border-radius: 8px;
}

#dolar {
	padding-top: 10px;
	padding-bottom: 20px;
	width: 50%;
	margin-top: 15%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	border-radius: 8px;
}

.footer {
	background: #e28711;
	height: 93px;
	border-radius: 0 0 0 0;
	text-align: center;
	font-size: 18px;
	padding: 2em;
}
