* {
	font-family: 'Times new roman', serif;
	font-weight: 100;
	box-sizing: border-box;
	list-style: none;
}

.content{
	display: flex;
	flex-flow: wrap;
	text-align: center;
}


body {
	background-color: #9C0001;
}

.header {
	width: auto;
	background-color: black;
	height: 80px;
	color: white;
	text-align: center;
	align-items: center;
	padding: 5px;
}

.logo{
	position: absolute;
	top: 7px;
	left: 5px;
}

.texto{
	font-size: 30px;
	font-weight: bolder;
	margin-left: 42%;
}


.aside {
	flex: 1;
	background: #454545;
	min-height: calc(100vh - 50px - 80px);
}

.main {
	flex: 4;
	background: #b8b8b8;
	min-height: calc(100vh - 80px - 50px);
	align-items: center;
	text-align: center;
	border-radius: 6px;
	margin: 12px;
}

.main p{
	text-align: justify;
	margin-left: 15%;
	margin-top: 15%;
	width: 70%;
	font-size: 30px;
	color: black;
}

.btn {
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 13vh;
	background-color: #851b00;
	cursor: cell;
	padding: 23px 50px;
	font-size: 20px;
	border-radius: 5px;
}

.btn:hover {
	color: white;
	background-color: #ebb500;
	font-size: 20px;
}

.main h2{
	margin-left: 15%;
	margin-top: 7%;
	width: 50%;
	color: #9C0001;
	font-size: 25px;
	text-align: justify;
}

.main h3{
	color: #16258f;
	padding: 8px;
	font-size: 25px;
}

#frases {
	width: 65%;
	color: black;
	margin-left: 15%;
	margin-top: 2%;
}

#frases p{
	width: 100%;
	font-size: 22px;
	margin-left: 0px;
	margin-top: 2%;
	font-family: 'Bodoni MT', CSS;
}

#f1 {
	text-shadow: 4px 5px 5px blue;
}

#f2 {
	text-shadow: 4px 5px 5px purple;
}

#f3 {
	text-shadow: 4px 5px 5px red;
}

#dolar {
	background-color: #e21301;
	padding-top: 10px;
	padding-bottom: 40px;
	width: 50%;
	margin-top: 12%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 0 10px 0 black;
	border-radius: 8px;
}

#info {
	background-color: #e21301;
	padding-top: 10px;
	padding-bottom: 40px;
	width: 50%;
	margin-top: 8%;
	margin-left: 25%;
	color: black;
	font-size: 18px;
	border-radius: 6px;
	text-align: center;
	box-shadow: 0 0 10px 0 black;
	border-radius: 8px;
	height: 100%;
}

footer {
	background-color: black;
	height: 50px;
	text-align: center;
	padding: 15px;
	font-size: 18px;
	color: white;
	width: 100%;
	position: sticky;
	bottom: 0;
}
