@charset "UTF-8";

html {
  font-size: 13px; }

body {
  font-family: 'Lato', sans-serif;
  color: #696969; }
.orientacion {

flex-direction: column;

}

 .borde { 
  border-right: solid rgb(0, 0, 0);
}
.bg-primary {
  background-color: beige !important; }

.bg-secundary {
  background-color: #35363c !important; }

.text-secundary {
  color: #35363c !important; }

  
.enlaces-secundario {
    border-bottom: 1px solid #5d666f;
    -webkit-box-shadow: 0 1px #212529;
            box-shadow: 0 1px #212529; 
}
  
.enlaces-secundario a {
    padding: 1rem;
    color: white;
    text-decoration: none;
    display: block; 
}

.sombra1 {
  text-shadow: 3px 3px 3px blue;
  opacity: 0.5;
}

.sombra2 {
  text-shadow: 4px 4px 4px rgb(117, 70, 133);
}

.sombra3 {
  text-shadow: 2.5px 2.5px 2.5px rgb(255, 235, 83);
  opacity: 0.7;
}

