body{
    background-color: blue;

  
}
div {border-style: solid; border-width:2px;
    margin:0px; padding:7px;
     }
.cabeza{
    margin: auto;
    border: 1px solid black;
    font-family: Arial;
    /*text-align: left;*/
    width: 300;
    height: 200;


}
.cajaMenu{

    background-color:gray;

    /*text-align: left;*/
    margin:0 0px 0px 0px; border-color:black;
    width:200px; float:left; height:450px;
    }


.cuerpo{
   /* background-color: white; 
     border-color:black;
    width:800px; 
    height: auto;
    height: 450px;
    float: left; 
    height: 450px;
    display: flex;
    padding: 1em;
    width:70%;*/
display: flex;
flex-direction: column;
align-items: center;
padding: 1em;
margin: 12px 12px 0px 12px;
width: 80%;
height: auto;
height: 500px;
border: 1px solid coral;
background-color: coral;

}

.pie{
    /*margin: auto;
    font-family:Arial;
    color: coral;

    border: 1px solid black;
    width: 300;*/

    background-color: white;
    margin:0 0px 0px 0px;
    border-color:black; clear:both;
     height:50px;
}




