*{
  margin: 0;
  padding: 0;
}

body{
  background:lightslategray;
}

header {
  background:silver;
  width: 90%;
  margin: auto;
  height: 100px;
  margin: 20px auto;
}
img {
  float: left;
  height: 80px;
  margin-left: 2%;
  padding-top:  0.5%;
}
h1{
  text-align: center;
  padding-top: 2%;
}

.cuerpo, footer {
  width: 90%;
  margin: auto;
  margin: 20px auto;
}

.cuerpo .articles{
 
  margin-left: 1.5%;
  width: 68.5%;
  height: 80%;
  float: right;
  text-align: center;
}


.cuerpo .articles article{
  padding: 20px;
  margin-bottom: 20px;
  background: wheat;
  text-align: center;
  height:33%;
  
}

p#api { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



aside{
  width: 30%;
  background: lightblue;
  float: right;
  padding: 20px;
  box-sizing: border-box;
  height: 700px;
  text-align: center;
}

footer{
  clear: both;
  background: silver;
  padding: 10px 0px;
  text-align: right;
}

.cuerpo{
  height: 700px;
}