body{
    margin: 0;
    padding: 0;
}

header{
    height: 10vh;
    width: 100vw;
    background-color: rgb(88, 86, 86);
    color: rgb(219, 131, 68);
    display: flex;
    justify-content: flex-start;
}
main{
    display: flex;
    height: 80vh;

}
section{
    width: 80vw;
    background-color: rgba(50, 134, 155, 0.212);
}
aside{
    width: 20vw;
    background-color: rgb(201, 169, 100);
}
footer{
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100vw;
    background-color: rgb(201, 169, 100);
}
.titulo{
    margin-left: 30vw;
}