body{
    background-color:SlateBlue;
    color: snow;
    
}
.nombre{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color:coral; 
}

img{
    float: left;
}

hr{
    color: coral;
}

.parrafo{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:snow
}

.pie{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
    text-align: end;
}

.intromenu{
    color: slateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.main{
    display: flex;
    width: 100%;
    flex-direction: row;
    min-height: 100%;
    height: auto;
    margin: auto;
}

.menu_apis {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: 12px 12px 0px 12px;
    width: 25%;
    height: auto;
    height: 500px;
    border: 1px solid coral;
    background-color: coral;
  }

.texto-apis {
    display: flex;
    margin: 12px 12px 0px 0px;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    width: 100%;
    height: auto;
    min-height: 100%;
    border: 1px solid coral;
}

.boton{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    width: 94px;
}

.textoHome{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.joke{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.delivery{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.picture{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}