#textoAleatorio1{
  text-shadow: 2px 2px red;
}

#textoAleatorio2{
  text-shadow: 2px 2px green;
}

#textoAleatorio3{
  text-shadow: 2px 2px blue;
}

#breed_image {
  background: #fff;
  margin: 0;
}
