html,
body,
footer {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}

header {
  background-color: #666;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: white;
  width: auto;
}

nav {
  float: left;
  width: 20%;
  height: 100%; 
  background: #ccc;
  padding: 20px;
}


.article {
  padding: 0 25px 0 25px;
  text-align: center;
  width: 90%;
  float: center;
  align-content: center;
  margin: auto;
}

.section {
  background-image: url("../imagenes/fondo.jpg");
  display: table;
  min-height: calc(100vh - 200px - 20px);
  width: 100%;
}

.sidebar {
  height: 85%;
  width: 10%;
  position: relative;
  z-index: 1;
  top: 0%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  display: table-cell;
  text-align: center;
} 
 
 .sidebar nav {
 relleno: 8px; 
: 24px; 
 pantalla: bloque; 
} 


.frase1{
  text-shadow:3px 3px .5px #E43A16;
  text-align: center;
  color: white;
  font-size: 25px;
}
.frase2{
  text-shadow:3px 3px .5px #1642E4;
  text-align: center;
  color: white;
  font-size: 25px;
}
.frase3{
  text-shadow:3px 3px .5px #552597;
  text-align: center;
  color: white;
  font-size: 25px;
}

.location .city {
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}

.location .date {
  color: #FFF;
  font-size: 16px;
}

.current .temp {
  color: #FFF;
  font-size: 50px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}

.current .temp span {
  font-weight: 500;
}

.current .humidity  {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.current .humidity span {
  font-weight: 500;
}

.current .weather {
  color: #FFF;
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
}

.current .hi-low {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0, 0, 0, 0.4);
}

.logo{
  height: auto;
  width: 7%;
  border-radius: 100%;
  float: left;
  position: absolute;
  top:0;
  left: 0;
  float: left;
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 4%;
  border:2px solid #fff;
}

.footer {
  padding: 1px;
  left: 0;
  bottom: 0;
  width: auto;
  background-color: grey;
  color: black;
  text-align: right;
  clear: both;
}

.footer p{
  margin-right: 20px;
}

p, h3 {
  color: white;
}


.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}
  
.boton_personalizado:hover{
  color: #1883ba;
  background-color: #ffffff;
}


table{
  float: center;
  border-style: groove;
}
  
.table-striped tbody:nth-of-type(odd) {
  background-color: rgb(217, 235, 235);
}

.thead-green {
  background-color: rgb(0, 99, 71);
  color: white;
}

.table-hover tbody tr:hover {
   background-color: rgba(122, 114, 81, 0.7);
   color: rgb(112, 24, 78);
}

.container-covid {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
.cTable {
  width: 800px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1)
}

.tabla-a {
  padding: 15px;
  background: linear-gradient(75deg, #df8c0d, #5f2c82);
  color: #fff
}

.tabla-d{
  background-color: #55608f;
}

/*Responsive*/

@media screen and (max-width: 1430px){
  header{
    max-width: auto;
    padding: 10px;
  }
  .boton_personalizado{
    padding: 10px;
    font-weight: 550px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1130px){
  header{
    max-width: auto;
    padding: 10px;
  }
  .boton_personalizado{
    padding: 10px;
    font-weight: 500px;
    font-size: 10px;
  }
}