html {
    box-sizing: border-box;
    }
    *, *:before, *:after {
    box-sizing: inherit;
    }
    
    *{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: normal;
    }

    body{
        background-color: #b9955a;
    }/*b68d4c
    b68537*/

    img.logo{
    width: 60px;
    height: 60px;
    display: block;
    margin: 60px 0 0 100px;
    
    }

   .encabezado p{
    font-size: 40px;
    margin: -45px 0 0 600px;
    color:#000000 ;
    }

    .encabezado{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f3e2c7+0,c19e67+50,b68d4c+51,e9d4b3+100;L+Brown+3D */
background: #f3e2c7; /* Old browsers */
background: -moz-linear-gradient(top,  #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3',GradientType=0 ); /* IE6-9 */

    }
article.textos{
    text-align: justify;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
    height: 400px;
    width: 80%;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: -2px;
    background: #b4802ba8 ;

}
div.apis{
    text-align: justify;
    font-size: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.principal{
    display: flex;
    flex-direction:row-reverse;
    width: -100px;
    text-align: right; 
    height: auto;
    padding: 25px;
        
}
.aside{
width: 20%;
height: 400px;
background: #b4802ba8;
border: 1px solid black;
border-radius: 20px;
padding: 20px;
}

.boton{
    display: flex;
    flex-direction: column;
    padding: auto;
    position:relative;
    margin-bottom: 40px;
    margin-left: 27%;
    border-radius: 35px;
    font-weight: bold;
    height: 90px;
    width: 90px;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
    font-size: 15px;
    background-color:rgba(107, 75, 7, 0.719) ;
    
}
.boton:hover{
    background-color: rgb(168, 99, 20);
}

.footer{
    text-align: end;
    font-size: 30px;
    font-weight: bold;
    padding-top: 40px;
    margin-top: -10px;
    background: #b4802ba8;
    /*background:#8d662ca6;*/
}
#frase1{
    text-align: center;
    font-size: 35px;
    text-shadow: 10px 10px 10px black;
}
#frase2{
    text-align: center;
    font-size: 35px;
    text-shadow: 5px 5px 5px rgb(83, 78, 68);
}
#frase3{
    text-align: center;
    font-size: 35px;
    text-shadow: 20px 20px 4px rgb(95, 52, 5);
}


