/* General */
*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Cabecera */
header{ 
    height: 100px;
    padding-top: 0px;
    background-color: #495057;
    text-align: center;
    border-bottom: solid #0b090a;
    border-right: solid #0b090a;
}
#titulo_cabecera{
    position: relative;
    top: 25px;
    color: #ffffff;
}
img.logo{
    position: absolute;
    top: 20px;
    left: 50px;
    height: 60px;
    width: 200px;
}

/* div lateral */
.barra-lateral{
    padding: 0;
    margin: 0;
    display: inline-block;
    width: 10%;
    min-height: calc(100vh - 100px - 50px);
    background-color: #495057;
    border-right: solid #0b090a;
}
.boton{
    position: relative;
    top: 40px;
    left: 20px;
    padding: 4px;
    margin:0 0.3em 0.3em 0;
    background-color: #495057;
    color: #ffffff; 
    border:1px solid #ffffff;
    border-style: solid;
    border-radius: 3px;
    transition-duration: 0.4s;
}
.boton:hover{
    transform: scale(1.1);
    color:#495057;
    border-color:#495057;
    background-color: #ffffff;
}

/* Contenedor */
.contenedor{
    float: right;
    width: 90%;
    height:calc(100vh - 100px - 50px);
    background-color: #d3d3d3;
}

/* div de inicio */
.inicio{
    position: relative;
    height: fit-content;
    width: 70%;
    top: 25%;
    left: 15%;
}
.inicio p{
    color: #000;
    font-size: 20px;
}
.fraseRandom{
    position: relative;
    margin: 0;
    padding: 4px;
    width: fit-content;
    border-left: solid;
    border-bottom: solid;
    
}

/* div Api1 (Covid) */
.api1{
    position: relative;
    height:calc(100vh - 100px - 50px);;
    width: 70%;
}
#Titulo-Api1{
    padding: 5px;
    margin: 0;
    width: fit-content;
    position: relative;
    left: 44%;
    top: 65px;
    background-color: #495057;
    color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#InfoCov{
    position: relative;
    width: fit-content;
    top: 72px;
    left: 44%;
    list-style-type: none;
    
}
.covLi{
    width: fit-content;
    display: inline-block;
    background-color: #495057;
    color: #ffffff;
    padding: 10px;
    margin: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
#Actualizacion{
    width: fit-content;
    position: relative;
    left: 53%;
    top: 40px
}

/* div api2 (Paises)*/
#Api2{
    width: fit-content;
    position: relative;
    left: 30%;
    top: 25px;
}
#psudoForm{
    padding: 20px;
    background-color: #495057;
    width: fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Etiqueta{
    color: #ffffff;
}
.busqueda{
    left: 15%;
}
#Pais{
    border: none;
    position: relative;
    padding: 5px;
    margin-top: 10px;
    width: 200px;
    background-color: #ffffff;
    transition: 1s;
    
}
#bOK{
    position: relative;
    padding: 5px;
    font-size: 12px;
    border:1px solid #f8f9fa;
    border-style: solid;
    background-color: #495057;
    color: #f8f9fa;
    transition: 1s;
    
}
#bOK:hover{
    color:#495057;
    border-color:#495057;
    background-color: #f8f9fa;
}
#Info{
    position: relative;
    padding: 10px;
    width: fit-content;
    top: 50px;
    left: 25%;
    list-style-type: none;
    color: #ffffff;
    background-color: #495057;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#Error{
    position: relative;
    top: 20px;
    right: 90px;
    padding: 5px;
    color: #ffffff;
    background-color: #495057;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Pie de Pagina */
footer{ 
    position: relative;
    height: 50px; 
    background-color: #495057;
    border-top: solid #0b090a;
    border-left: solid #0b090a;
}
#texto_footer{
    position: absolute;
    right: 10px;
}