/*importo fuentes de Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Limelight&family=Oswald:wght@200&family=Sigmar+One&display=swap');

/*estilo base y fondo diagonal*/
html
{
  background-image: -webkit-linear-gradient(67deg,#2D1D20 50%, #f8f5f1 50%);
}

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
  outline: 0;
  font-family: 'Oswald', sans-serif;
}



/*sección principal - general*/
section
{
    float: right;
    width : 85%;
    height : 75%;
    margin-right: 5%;
    margin-top: 12px;
    margin-bottom: 12px;
}

section
{ 
   border-style: inset;
}

/*sección principal - estilo general para las frases*/
#FrasesCSS
{
  text-align: right;
  font-size: xx-large;
  padding-top: 5%;
  padding-right: 10%;
}
  /*sección principal - estilo específico para cada frase*/
#frase1
{
  text-shadow: 1px 1px 2px #364547, 0 0 25px #939b62, 0 0 5px #98ddca;
}

#frase2
{
  color: #FF5800;
  text-shadow: 20px 20px 4px #e9896a ;
}

#frase3
{
  text-shadow: 2px 2px 2px #ffc93c ;
}

  /*sección principal - estilo específico para frase expectativas*/

#expectativas
{
  color: #f8f5f1;
  padding-top: 15%;
  padding-left: 1%;
  padding-right: 10%;
  font-size: xx-large;
  font-family: 'Architects Daughter', cursive;
}
#expectativas mark
{
  background-color:  #e9896a;
  border-radius: 3px;
}

/*sección principal - estilo específico para API IMDB*/
.estiloAPI { 
  
  text-align: center;
  font-size: x-large;
}

/*barra lateral izquierda - general*/
aside
{
  float: left;
  display: flex;
  flex-flow: wrap;
  border-style: hidden;
}

aside
{
    float: left;
    width : 7%;
    height : 75%;
    padding-left: 1%;
    text-align: center;

}

/*barra lateral izquierda - botones*/

aside a 
{
  background-color: #FF7538;
  box-shadow: 0 5px 0 #F04A00;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
}

aside a:hover 
{
  background-color: #FF5800;
}

/*sección principal y barra lateral izquierda*/
section, aside
{
  border-color : white;
  justify-content: center;
  align-items: center;
}


/*cabecera*/
header
{
  width:90%;
  text-align:center;
  border-style: dashed;
  border-radius: 70px;
}

header img
{
float: left;
margin-left: 10%;
margin-top: 1%;
margin-bottom: 1%;
}

header h1
{
  font-family: 'Limelight', cursive;
  font-size: 40px;
}

#centrado
{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*pie de página*/
footer
{
  clear: both;
  padding: 0.5%;
  text-align: center;
  background-color: rgba(132, 42, 42, 0.3);
}

footer h3
{
  color: white;
}

/*Modificación de algunos estilos para resoluciones más pequeñas*/
@media screen and (max-height: 800px) {
  html
  {
    background-image: -webkit-linear-gradient(72deg,#2D1D20 50%, #f8f5f1 50%);
  }
  #FrasesCSS 
  {
    font-size: x-large;
    padding-right: 3%;
  }

  #expectativas
  {
    font-size: x-large;
    padding-top: 9%;
  }

  .estiloAPI { 
  
    text-align: right;
    padding-right: 5%;

  }

  aside
  {
      height : 65%;
  }

  section
  {
      height : 65%;
  }

  footer
  {
    padding: 0.2%;
  }

}
