*{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #4db6ac;
	display: flex;
	margin-bottom: 0px;
}

body {
	background: #eaeded;
}

#logo{
	height: 8%;
	width: 8%;	
	margin: 15px;
}

#tpnro {
	text-align: center;	
	margin: auto;
	color: black;
	font-size: 40px;
}

aside {
	background: #26c6da;
	width: 19%;
	height: 880px;
	float: left;
	border: 1px solid black;
	clear: both;
	vertical-align: middle;
	
}

#Menu{
	text-align: left;
	list-style-type: none;
	margin: 1px;
	padding-top: 40px;

}

#Menu li *{
		color: white;	
		font-size: 22px;
		text-decoration: none;
		padding-top: 20px;
		padding-bottom: 20px;
		line-height: 50px;
		clear: both;
}


#Menu li a:hover{
	border-bottom: 2px solid #ffff;
}

main {
	width: 80;
	height: 750px;
	float: center;
}

#contenido{
	text-align: center;
	padding-top: 30px;
}

#datos {
	text-align: center;	
	padding-top: 80px;
	margin: 30px;
	color: black;
	font-size: 36px;
	height: 20%;
}
#expectativas{
	text-align: center;	
	padding-top: 80px;
	margin: 30px;
	color: black;
	font-size: 20px;
	height: 80px;
}
footer {
	text-align: right;
	border: 1px solid black;
	clear: both;
	height: 60px;
	background: #bdbdbd;
}

h3 {	
font-size: 20px;
padding-top: 30px;
padding-right: 8px;
color: black;
}