body {
	background-color: #69D2F2;
	padding: 10px;
	font-family: Arial;
}

*{
	margin:1px;
	padding: 1px;
	box-sizing: border-box;

}
#menu{
	background-color: grey;
	padding:20px;
}

.texto{
	text-align: center;
	justify-content: center;
	font-family: 'New Tegomin', serif;
	font-size: 3em;
}

#apibar{
	opacity: 100;
	background-color: white;
	width: 200px;
	min-height: 50vh;
	margin-bottom: 10px;
	float: left;
	margin-top: 7px;
	padding-bottom: auto;
	min-height: 75vh;

}

#apibar ul li{
	color:rgba(0,0,0,.9);
	text-align: center;
	border-bottom: 1px solid rgba(105,105,105,.3);
	padding: 15px 10px;
	list-style: none;
}
.nav-logo{
	height: 90px;
	width: 70px;
	margin: 0 auto;
}


.footer-text{
	text-align: right;
	justify-content: center;
	padding: 10px;
}
footer{
	background-color: red;
	width: 100%;
	border: 1px solid black;
	position: relative;
}

#asigment-text{

	margin-bottom: 10px;

	margin-top: 7px;

}
.reason{
   text-align: justify;
   font-size: 18px;
   font-weight: 100;
   min-height: 75vh;
}

#bitcoin {
	text-align: center;
	min-height: 80vh;
}

#bitcoin ul li{
	text-align: center;
	border-bottom: 1px solid rgba(105,105,105,.3);
	padding: 15px 10px;
	list-style: none;
}

#dailymotion{
	text-align: center;
	min-height: 100vh;
}

.row{
	padding-left: 10%;
}
